[submodule "include/omp-stdlib"]
	path = include/omp-stdlib
	url = https://github.com/openmultiplayer/omp-stdlib
[submodule "include/weston-stdlib"]
	path = include/weston-stdlib
	url = https://github.com/WestonProject/weston-stdlib
